// @use 'variables_conservative' as *;
@use 'variables' as *;

// $main_font_color: rgb(204, 95, 128);
div.App {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  p {
    color: $main-font-color;
  }
  h1 {
    // color: yellow;
    color: $headerColor;
    margin-top: $headerTopMargin;
  }
  h2 {
    // color: yellow;
    color: $headerColor;
    margin-top: $headerTopMargin;
  }
  h3 {
    // color: yellow;
    $headerColor: rgb(218, 55, 55);
    color: $headerColor;
    margin-top: $headerTopMargin;
  }

  section.content {
    p {
      color:$warningColor ;
    }
    button{
      margin-right: 1rem;
      font-size: 1.5rem;

    }
  }
}
