// @use 'variables_conservative' as *;
@use "variables" as *;
@use "buttons_colors" as *;

// $main_font_color: rgb(204, 95, 128);
div.App {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  p {
    color: $main-font-color;
  }
  h1 {
    // color: yellow;
    color: $headerColor;
    margin-top: $headerTopMargin;
  }
  h2 {
    // color: yellow;
    color: $headerColor;
    margin-top: $headerTopMargin;
  }
  h3 {
    // color: yellow;
    $headerColor: rgb(218, 55, 55);
    color: $headerColor;
    margin-top: $headerTopMargin;
  }

  section.content {
    p {
      color: $warningColor;
    }

    @mixin btn($bgcolor, $borderColor: #555) {
      margin-right: 1rem;
      font-size: 1.5rem;
      background-color: $bgcolor;
      // border: 3px solid #555;

      border: 3px solid $borderColor;

      padding: 0.5rem;
      border-radius: 0.5rem;
    }

    // button.primary {
    //   background-color: $primaryButtonColor;
    // }

    // button.secondary {
    //   background-color: $secondaryButtonColor;
    // }

    // button.warning {
    //   background-color: $WarningButtonColor;
    // }

    button.primary {
      // @include btn(lightblue);
      @include btn($primaryButtonColor, blue);
    }

    button.secondary {
      // @include btn(lightblue);
      @include btn($secondaryButtonColor, pink);
    }

    button.warning {
      // @include btn(lightblue);
      @include btn($warningButtonColor, beige);
    }

    button.error {
      // @include btn(lightblue);
      @include btn($errorButtonColor, red);
    }
  }
}
