@use 'variables' as var;

// $main_font_color: rgb(204, 95, 128);
div.App {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  p {
    color: var.$main-font-color;
  }
  h1 {
    // color: yellow;
    color: var.$headerColor;
    margin-top: var.$headerTopMargin;
  }
  h2 {
    // color: yellow;
    color: var.$headerColor;
    margin-top: var.$headerTopMargin;
  }
  h3 {
    // color: yellow;
    $headerColor: rgb(15, 5, 5);
    color: var.$headerColor;
    margin-top: var.$headerTopMargin;
  }

  section.content {
    p {
      color: var.$paragraphColorInContent;
    }
  }
}
